/* Global Css */
:root {
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(0, 0%, 80%);
  --color-very-light-gray: hsl(0, 0%, 91%);
  --color-dark-gray: hsl(0, 0%, 59%);
  --color-very-dark-gray: hsl(0, 0%, 36%);
  --color-primary: hsl(216, 100%, 59%);

  --font-normal: 400;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 900;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 14px;
  line-height: 1.4;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  color: var(--color-black);
}

/* General Css */
.wrapper{
    width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.container{
    padding: 20px;
    margin: 0 -20px;
    border: 1px solid var(--color-light-gray);
    border-radius: 12px;
}

.widget-title{
    position: relative;
    width: 300px;
    padding: 15px 15px 15px 0;
    border-bottom: 1px solid var(--color-dark-gray);
}

.widget-title::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 6px;
    background-color: var(--color-primary);
    bottom: -4px;
    left: 0;
}

.widget-title h2{
    font-size: 27px;
    font-weight: var(--font-bold);
    text-transform: capitalize;
}

.btn {
  display: inline-block;
  font-size: 11px;
  font-weight: var(--font-semibold);
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 50px;
  padding: 11px 14px;
  line-height: 1;
  cursor: pointer;
  transition: 300ms;
}

.btn:hover{
    text-decoration: underline;
}


.searchbar__wrapper{
	position: relative;
	width: 100%;
	height: 48px;
	margin-bottom: 40px;
}

.searchbar{
    width: 100%;
    height:48px;
    position: absolute;
    border-radius: 100px;
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
    padding: 0 30px;
    font-size: 16px;
    color: var(--color-dark-gray);
    background-color: var(--color-very-light-gray);
}

.searchbar:focus{
    border: 1px solid var(--color-primary);
    transition: all 300ms;
}

.btn-search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 48px;
    border-radius: 100px;
    background-color: var(--color-primary);
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-white);
}

.btn-search .icon-search{
    margin-right: 8px;
}

.btn-search:hover{
    text-decoration: underline;
}

.overlay.active{
    background-color: white;
    opacity: .855;
    filter: blur(5px);
    width: 100%;
    height: 100vh;
    position: absolute;
}

.noscroll{
    overflow: hidden;
}


/* Nav Css */
.container{
    padding: 0 0px 0 0;
}

.container__wrapper{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo{
    display: block;
    font-size: 85px;
    color: var(--color-black);
    text-align: center;
    margin: 30px auto;
    font-weight: var(--font-extrabold);
}

.header .searchbar__wrapper.mobile{
    display: none;
}

nav{
    width: 267px;
    height: auto;
    background-color: var(--color-primary);
}

nav .sidebar-logo{
    height: 88px;
    line-height: 88px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.181);
    font-size: 28px;
    color: var(--color-white);
    text-align: center;
    padding: 0 20px;
    margin: 0;
    font-weight: var(--font-extrabold);
}

nav ul{
    padding: 20px 0;
}

nav .menu{
    border-bottom: 1px solid rgba(255, 255, 255, 0.181);
}

nav .menu li{
    padding: 0 32px;
}

nav .menu li:not(:last-child){
    margin-bottom: 22px;
}

nav .menu li a{
    font-size: 14px;
    font-weight: var(--font-normal);
    color: var(--color-white);
}

nav .menu li .icon-links{
    margin-right: 10px;
}

nav .menu li a:hover{
    text-decoration: underline;
}



/* Main Css */
main{
    width: 1133px;
    padding: 20px;
    border-radius: 8px;
}

.main__wrapper{
    border-radius: 8px;
}


main .blog-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

main .blog-posts .blog-post{
    background-color: var(--color-very-light-gray);
    border-radius: 12px;
    padding: 20px;
}

main .blog-posts .blog-post .post-header{
    display: flex;
    margin-bottom: 10px;
}

main .blog-posts .blog-post .post-thumb{
    width: 66px;
    height: 66px;
    border-radius: 12px;
    margin-right: 10px;
}

main .blog-posts .blog-post .post-thumb img {
	border-radius: 12px;
}

main .blog-posts .blog-post .post-title a{
    display: block;
    font-size: 14px;
    font-weight: var(--font-semibold);
    color: var(--color-black);
    transition: 300ms;
}

main .blog-posts .blog-post .post-title:hover a{
    color: var(--color-primary);
}

main .blog-posts .blog-post .post-meta{
    display: flex;
    align-items: center;
    font-size:12px;
    margin-bottom: 15px;
}

main .blog-posts .blog-post .post-meta a {
	color: var(--color-very-dark-gray);
	display: flex;
	align-items: center;
}

main .blog-posts .blog-post .post-meta a:hover{
    color: var(--color-primary);
}

main .blog-posts .blog-post .post-meta .icon{
    margin-right: 4px;
}

main .blog-posts .blog-post .post-date{
    margin-right: 10px;
}

main .blog-posts .blog-post .post-snippest {
	font-size: 13px;
	color: var(--color-dark-gray);
	height: 55px;
	overflow: hidden;
    margin-bottom: 25px;
}






/* Media Css */
@media (max-width:1440px) {
    .wrapper{
        width: 96%;    
    }
    main .blog-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:900px) {
    .wrapper{
        width: 100%;
    }
    .container{
        border: none;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 65px;
        padding: 0 15px;
        justify-content: space-between;
        background-color: white;
        border-bottom: 1px solid var(--color-dark-gray);
        z-index: 99;
    }
    .header .left{
        position: relative;
        z-index: 9;
    }
    .header .left, .header .right {
        display: flex;
        align-items: center;
    }
    .header .logo{
        font-size: 26px;
        margin: 0;
    }
    .header .btn-nav{
        position: relative;
        display: block;
        width: 26px;
        height: 16px;
        margin-right: 16px;
        transition: all 300ms;
        cursor: pointer;
    }
    .header .btn-nav span:nth-child(1) {
        display: block;
        width: 26px;
        height: 2px;
        background-color: var(--color-black);
        transition: 300ms;
    }
    .header .btn-nav span:nth-child(2) {
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 5px;
        background-color: var(--color-black);
        transition: 300ms;
    }
    .header .btn-nav span:nth-child(3) {
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 5px;
        background-color: var(--color-black);
        transition: 300ms;
    }
    .header .btn-nav.active span:nth-child(1){  
        visibility: hidden;
        transition: 100ms;
    }
    .header .btn-nav.active span:nth-child(2){
        transform: rotate(45deg);
        margin-top: 4px;
        transition: 300ms;
    }
    .header .btn-nav.active span:nth-child(3){
        transform: rotate(-45deg);
        margin-top: -2px;
        transition: 300ms;
    }
    .header .btn-toggle {
        position: relative;
        display: block;
        width: 40px;
        height: 24px;
        border-radius: 50px;
        background-color: var(--color-light-gray);
        margin-right: 55px;
        cursor: pointer;
        z-index: 999;
    }
    .header .btn-toggle::before{
        content: '';
        position: absolute;
        left: 4px;
        top: 4px;
        width: 16px;
        height: 16px;
        border-radius: 20px;
        background-color: var(--color-white);
        transition: 300ms;
    }
    .header .btn-toggle.active{
        background-color: var(--color-primary);
    }
    .header .btn-toggle.active::before{
        left: 20px;
    }
    .header .searchbar__wrapper.mobile {
        display: block;
        width: 92%;
        height: 48px;
        position: absolute;
        top: 0;
        right: 15px;
        margin-bottom: 0;
    }
    .header .searchbar__wrapper .searchbar {
        opacity: 0;
        visibility: hidden;
        transition: 300ms;
        height: 40px;
        line-height: 40px;
        top: 10px;
    }
    .header .searchbar__wrapper.mobile.active{
        z-index: 99;
    }
    .header .searchbar__wrapper .searchbar.active {
        opacity: 1;
        visibility: visible;
        top: 65px;
        color: var(--color-white);
        background-color: var(--color-primary);
        box-shadow: 0 10px 10px rgba(0,0,0,0.266);
    }
    .header .searchbar__wrapper .searchbar::placeholder{
        color: rgba(255, 255, 255, 0.632);
    }
    .header .searchbar__wrapper .btn-search {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        top: 10px;
    }
    .header .searchbar__wrapper .btn-search .icon-search{
        margin-right: 0;
    }
    main {
        padding-top: 80px;
    }
    main .searchbar__wrapper.desktop{
        display: none;
    }
    main .blog-posts {
        grid-template-columns: 1fr;
    }
    nav {
        position: absolute;
        overflow-y: scroll;
        top: 0;
        left: -100%;
        height: 100%;
        transition: 300ms;
    }
    nav.active {
        left: 0%;
    }
    
}


@media (max-width:600px){
    main {  
        padding: 15px;
        padding-top: 75px;
    }
    .container{
        border-radius: 0;
    }
    main .blog-posts {
        grid-gap: 15px;
    }
    main .blog-posts .blog-post {
        padding: 15px;
    }
}
